<%= form_for(@field_value) do |f| %>
  <% if @field_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field_value.errors.count, "error") %> prohibited this field_value from being saved:</h2>

      <ul>
      <% @field_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :entity %><br />
    <%= f.text_field :entity %>
  </div>
  <div class="field">
    <%= f.label :tenant %><br />
    <%= f.text_field :tenant %>
  </div>
  <div class="field">
    <%= f.label :field %><br />
    <%= f.text_field :field %>
  </div>
  <div class="field">
    <%= f.label :entity_type %><br />
    <%= f.number_field :entity_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
