<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @list_item.title %>
</p>

<p>
  <b>Sort order:</b>
  <%= @list_item.sort_order %>
</p>

<p>
  <b>Color:</b>
  <%= @list_item.color %>
</p>

<p>
  <b>Description:</b>
  <%= @list_item.description %>
</p>


<%= link_to 'Edit', edit_list_item_path(@list_item) %> |
<%= link_to 'Back', list_items_path %>
